// fonts
$fontMain: 'HelveticaNeueCyr';
$fontCond: 'Helvetica Neue Cond';

// root
$rootUrl: "images/";
$rootUrlFonts: "fonts/";

// color
$colorYellow: #E5D00D;
$colorYellow-2: #FFF500;


